<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogFile="NLog_SysInfo_file.txt"
      internalLogLevel="Error">
  <targets async="true">
    <target name="logfile" xsi:type="File" fileName="${basedir}/${logger}-${date:format=yyyy-MM-dd}-webapi.log" />
    <target name="exclogfile" xsi:type="File" fileName ="${basedir}/${logger}-${date:format=yyyy-MM-dd}-webapi.log"/>
    <target name="db" xsi:type="Database" 
            connectionString="Data Source=BOGDAN-ПК;Initial Catalog=SevicesSysDatabase;Integrated Security=False;database = SevicesSysDatabase; User ID = sqllite; Password = chorniyko;"
            dbProvider="System.Data.SqlClient"           
            commandType="StoredProcedure" commandText="[dbo].[NLog_AddEntry_p]">
      
      <parameter name="@machineName"    layout="${machinename}" />
      <parameter name="@siteName"       layout="${iis-site-name}" />
      <parameter name="@sessionId"      layout="${event-properties:item=correlationId}" />
      <parameter name="@logged"         layout="${date}" />
      <parameter name="@logger"         layout="${logger}" /> 
      <parameter name="@level"          layout="${level}" />      
      <parameter name="@method"         layout="${event-properties:item=method}"/>
      <parameter name="@category"       layout="${event-properties:item=category}"/>
      <parameter name="@type"           layout="${event-properties:item=type}" />
      <parameter name="@operator"       layout="${event-properties:item=operator}" />
      <parameter name="@operation"      layout="${event-properties:item=operation}" />
      <parameter name="@message"        layout="${event-properties:item=message}" />
      <parameter name="@except_message" layout="${event-properties:item=excmessage}" />
      <parameter name="@username"       layout="${aspnet-user-identity}" />                 
      <parameter name="@serverName"     layout="${aspnet-request:serverVariable=SERVER_NAME}" />
      <parameter name="@port"           layout="${aspnet-request:serverVariable=SERVER_PORT}" />
      <parameter name="@url"            layout="${aspnet-request:serverVariable=HTTP_URL}" />
      <parameter name="@https"          layout="${when:inner=1:when='${aspnet-request:serverVariable=HTTPS}' == 'on'}${when:inner=0:when='${aspnet-request:serverVariable=HTTPS}' != 'on'}" />
      <parameter name="@serverAddress"  layout="${aspnet-request:serverVariable=LOCAL_ADDR}" />
      <parameter name="@remoteAddress"  layout="${aspnet-request:serverVariable=REMOTE_ADDR}:${aspnet-request:serverVariable=REMOTE_PORT}" />
      <parameter name="@callSite"       layout="${callsite}" />
      <parameter name="@exception"      layout="${exception:tostring}" />
    </target>
    
    <target name="errdb" xsi:type="Database"
            connectionString="Data Source=BOGDAN-ПК;Initial Catalog=SevicesSysDatabase;Integrated Security=False;database = SevicesSysDatabase; User ID = sqllite; Password = chorniyko;"
            dbProvider="System.Data.SqlClient"
            commandType="StoredProcedure" commandText="[dbo].[ErrLog_AddEntry]">

      <parameter name="@machineName"    layout="${machinename}" />
      <parameter name="@siteName"       layout="${iis-site-name}" />
      <parameter name="@sessionId"      layout="${event-properties:item=correlationId}" />
      <parameter name="@logged"         layout="${date}" />
      <parameter name="@logger"         layout="${logger}" />
      <parameter name="@level"          layout="${level}" />
      <parameter name="@method"         layout="${event-properties:item=method}"/>      
      <parameter name="@except_message" layout="${event-properties:item=excmessage}" />
      <parameter name="@username"       layout="${aspnet-user-identity}" />
      <parameter name="@serverName"     layout="${aspnet-request:serverVariable=SERVER_NAME}" />
      <parameter name="@port"           layout="${aspnet-request:serverVariable=SERVER_PORT}" />
      <parameter name="@url"            layout="${aspnet-request:serverVariable=HTTP_URL}" />
      <parameter name="@https"          layout="${when:inner=1:when='${aspnet-request:serverVariable=HTTPS}' == 'on'}${when:inner=0:when='${aspnet-request:serverVariable=HTTPS}' != 'on'}" />
      <parameter name="@serverAddress"  layout="${aspnet-request:serverVariable=LOCAL_ADDR}" />
      <parameter name="@remoteAddress"  layout="${aspnet-request:serverVariable=REMOTE_ADDR}:${aspnet-request:serverVariable=REMOTE_PORT}" />
      <parameter name="@callSite"       layout="${callsite}" />      
    </target>
  </targets>
  <rules>
    <logger name="ServiceDomain.Tracing.NLogTracer" minlevel="Trace" writeTo="logfile" />
    <logger name="ServiceDomain.Tracing.NLogTracer" minlevel="Trace" writeTo="db" />
    <logger name="ServiceDomain.Logging.UnhandledExceptionLogger" minlevel="Warn" writeTo="exclogfile" />
    <logger name="ServiceDomain.Logging.UnhandledExceptionLogger" minlevel="Warn" writeTo="errdb" />
  </rules>
</nlog>